name: design_pattern_suggester
description: A new Flutter project.
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Para navegación por rutas y URLs amigables
  go_router: ^10.0.0 
  
  # Para fuentes personalizadas y estéticas
  google_fonts: ^5.1.0 
  
  # Íconos de Cupertino
  cupertino_icons: ^1.0.2

  # Gestión de estado
  provider: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true